In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df_billboard = pd.read_csv(
    'data/Billboard-Weekly-Songs-With-Song-And-Artist-Spotify-Popularity.csv').drop(
    columns = 'Unnamed: 0')
df_dataset = pd.read_csv('data/dataset.csv')
df_artist_genres = pd.read_csv('data/artists_genres.csv')

In [6]:
df_billboard.head()

,date,Rank,Title,Artist,Weeks on chart,year,Spotify_Popularity,Artist_Popularity
0,1955-01-01,1,Poor Little Fool,Ricky Nelson,1.0,1955,-1,56
1,1955-01-01,2,Patricia,Perez Prado And His Orchestra,NaN,1955,-1,12
2,1955-01-01,3,Splish Splash,Bobby Darin,NaN,1955,-1,62
3,1955-01-01,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,1955,-1,-1
4,1955-01-01,5,When,Kalin Twins,NaN,1955,-1,24

In [7]:
len(df_billboard)

300600

In [9]:
df_dataset.columns

Index(['Unnamed: 0', 'Title', 'Artist', 'Weeks on chart', 'year',
       'Spotify_Popularity', 'Artist_Popularity', 'track_id', 'track_title',
       'track_artist', 'danceability', 'energy', 'key', 'loudness',
       'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'duration_ms', 'time_signature', 'tempo', 'mode'],
      dtype='object')

In [14]:
df_dataset.head()

,Unnamed: 0.1,Title,Artist,Weeks on chart,year,Spotify_Popularity,Artist_Popularity,track_id,track_title,track_artist,...,loudness,speechiness,acousticness,instrumentalness,liveness,valence,duration_ms,time_signature,tempo,mode
0,0,Poor Little Fool,Ricky Nelson,1.0,1955,-1,56,5ayybTSXNwcarDtxQKqvWX,Poor Little Fool - Remastered,Ricky Nelson,...,-11.573,0.0317,0.6690,0.000000,0.134,0.795,153933.0,4.0,154.999,1.0
1,1,Patricia,Perez Prado And His Orchestra,NaN,1955,-1,12,205EtD8tQnHDXMkmtYiaHF,Patricia,Pérez Prado,...,-9.522,0.0457,0.0862,0.251000,0.115,0.837,140867.0,4.0,137.396,1.0
2,2,Splish Splash,Bobby Darin,NaN,1955,-1,62,40fD7ct05FvQHLdQTgJelG,Splish Splash,Bobby Darin,...,-1.526,0.0393,0.3850,0.000000,0.370,0.965,131720.0,4.0,147.768,1.0
3,3,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,1955,-1,-1,32CVurlBxtEYQlDm3yzCLl,Hard Headed Woman,Elvis Presley,...,-8.739,0.1760,0.8420,0.000002,0.501,0.859,113480.0,4.0,97.924,1.0
4,4,When,Kalin Twins,NaN,1955,-1,24,1BQOMZeYwzesvXANmRgrEp,When - Live,Kalin Twins,...,-12.679,0.0297,0.1680,0.000005,0.976,0.963,144573.0,4.0,96.490,1.0